.todo {
    display: flex;
    height: 70px;
    background: $blue;
}

.todo:hover {
    background: darken($blue, 10%);
}

.todo:active {
    background: darken($blue, 20%);
}

.todo__details {
    flex-grow: 1;
    
}

.todo__actions {
    display: flex;
    width: 150px;
}

.todo__remove, .todo__edit {
    cursor: pointer;
    width:50%;
}
