html {
    font-size: 62.5%;
}
body {
    background: $light-gray;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    /*font-size:  $m-size;*/
}

#indexReact {
    /*padding-#{$left}: 200px;
    @media screen and (min-width: $break-large) {
        width: $break-large;
        margin: 0 auto;
    }
    */
}

