html {
    font-size: 62.5%;
}
body {
    background: $light-gray;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    /*font-size:  $m-size;*/
}

#indexReact {
    /*padding-#{$left}: 200px;
    @media screen and (min-width: $break-large) {
        width: $break-large;
        margin: 0 auto;
    }
    */
}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  /*
  .animate-flicker {
    -webkit-animation: flickerAnimation .5s infinite;
    -moz-animation: flickerAnimation .5s infinite;
    -o-animation: flickerAnimation .5s infinite;
     animation: flickerAnimation .5s infinite;
 }
 */